version: 2
updates:
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: weekly
    day: monday
    time: "05:00"
  # Needs to be larger than the number of total requirements (currently 31)
  open-pull-requests-limit: 50
  target-branch: dependabot_updates
  labels:
  - dependency_updates
  # Turn off automatic rebases so that auto-merge can work without needed N**2 CI runs
  rebase-strategy: "disabled"
- package-ecosystem: gitsubmodule
  directory: "/"
  schedule:
    interval: daily
    time: "05:00"
  target-branch: master
  labels:
  - providers_updates
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "05:00"
  target-branch: dependabot_updates
  labels:
  - CI
