app = "optimade"
kill_signal = "SIGINT"
kill_timeout = 5
swap_size_mb = 1024
processes = []

[build]
  builder = "paketobuildpacks/builder:base"

[env]
PORT = 5000
OPTIMADE_CONFIG_FILE = "./tests/test_config.json"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 5000
  processes = ["app"]
  protocol = "tcp"
  script_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
