default_language_version:
  python: python3.9

repos:
  - repo: https://github.com/ambv/black
    rev: 23.9.1
    hooks:
    - id: black
      name: Blacken

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-symlinks
    - id: check-yaml
      name: Check YAML
    - id: check-json
    - id: destroyed-symlinks
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
    - id: pyupgrade
      args: ["--py39-plus"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.292'
    hooks:
    - id: ruff
      args: [--fix]

  - repo: local
    hooks:
    - id: json-diff
      name: OpenAPI diff
      description: Check for differences in openapi.json and index_openapi.json with local versions.
      entry: invoke check-openapi-diff
      pass_filenames: false
      language: python
    - id: update-docs-api-reference
      name: Update API Reference in Documentation
      entry: invoke create-api-reference-docs --pre-clean --pre-commit
      language: python
      pass_filenames: false
      files: ^optimade/.*\.py$
      description: Update the API Reference documentation whenever a Python file is touched in the code base.

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.0
    hooks:
      - id: mypy
        name: "MyPy"
        additional_dependencies: ["types-all", "pydantic~=1.10"]
