# pre-commit.ci configuration
ci:
    autofix_prs: false
    autoupdate_branch: 'master'
    autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
    autoupdate_schedule: monthly
    # Both of these require `invoke` to be installed in the environment
    skip: [json-diff, update-docs-api-reference]
    submodules: true

default_language_version:
  python: python3.9

# pre-commit hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    - id: check-symlinks
    - id: check-yaml
      name: Check YAML
    - id: check-json
    - id: destroyed-symlinks
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    - id: pyupgrade
      args: ["--py39-plus"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.4.7'

    hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format

  - repo: local
    hooks:
    - id: json-diff
      name: OpenAPI diff
      description: Check for differences in openapi.json and index_openapi.json with local versions.
      entry: invoke check-openapi-diff
      pass_filenames: false
      language: python
    - id: update-docs-api-reference
      name: Update API Reference in Documentation
      entry: invoke create-api-reference-docs --pre-clean --pre-commit
      language: python
      pass_filenames: false
      files: ^optimade/.*\.py$
      description: Update the API Reference documentation whenever a Python file is touched in the code base.

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        name: "MyPy"
        additional_dependencies: ["types-requests", "types-pyyaml", "pydantic~=2.0"]
        exclude: ^tests/.*$
        args: [--check-untyped-defs]
