dist: xenial
services:
  - mongodb
  - docker
language: python
python:
  - "3.7"
install:
   - pip install -r requirements.txt
   - pip install -r requirements/dev_requirements.txt
   - pip install -r requirements/mongo_requirements.txt
   - pip install -r requirements/django_requirements.txt
   - pip install -r requirements/elastic_requirements.txt
   - pip install -e .
   - docker pull quen2404/openapi-diff
script:
   - py.test --cov=optimade
   - openapi-spec-validator openapi.json
     # update schema
   - python -c "from optimade.server.main import app, update_schema; update_schema(app)"
     # check whether generated schema matches the committed version
   - .ci/openapi_diff.sh
   - codecov --token=$CODECOV_TOKEN
