site_name: OPTIMADE Python tools
site_description: Documentation for the OPTIMADE Python tools
site_url: https://www.optimade.org/optimade-python-tools/
copyright: Built by the Materials-Consortia

theme:
  name: material
  palette:
    scheme: default
    primary: black
    accent: red
  icon:
    repo: fontawesome/brands/github
  logo: images/optimade_logo_180x180.svg
  favicon: images/favicon.png
  language: en

repo_name: optimade-python-tools
repo_url: https://github.com/Materials-Consortia/optimade-python-tools
edit_uri: ""

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Materials-Consortia
  version:
    provider: mike
    default: stable

extra_css:
  - css/reference.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.snippets
  - toc:
      permalink: true

plugins:
  - search:
      lang: en
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: false
            show_root_toc_entry: true
            show_root_full_path: true
            show_object_full_path: false
            show_category_heading: false
            show_if_no_docstring: false
            show_source: true
            show_bases: false
            group_by_category: true
            heading_level: 2
            filters:
              - "!^_[^_]"
              - "!__json_encoder__$"
              - "!__all__$"
              - "!__config__$"
              - "!ValidatorResults$"
            members: null
            # inherited_members: false  # not yet supported
            docstring_style: google
      watch:
        - optimade
  - awesome-pages
