fastapi==0.63.0
lark-parser==0.11.1
pydantic==1.6.1
email_validator==1.1.2
requests==2.25.1
uvicorn==0.13.3
pymongo==3.11.2
mongomock==3.22.0
django==3.1.4
elasticsearch-dsl==6.4.0
Jinja2==2.11.2
typing-extensions==3.7.4.3
