black==23.1.0
build==0.10.0
codecov==2.1.12
flake8==6.0.0
invoke==2.0.0
isort==5.12.0
jsondiff==2.0.0
mypy==1.1.1
pre-commit==3.2.0
pylint==2.17.2
pytest==7.2.2
pytest-cov==4.0.0
ruff==0.0.260
types-all==1.0.0
