fastapi==0.65.2
lark-parser==0.11.3
pydantic==1.8.2
email_validator==1.1.2
requests==2.25.1
uvicorn==0.13.4
pymongo==3.11.4
mongomock==3.23.0
elasticsearch-dsl==6.4.0
Jinja2==3.0.1
typing-extensions==3.10.0.0
pyyaml==5.4.1
