black==22.12.0
build==0.9.0
codecov==2.1.12
flake8==6.0.0
invoke==1.7.3
isort==5.10.1
jsondiff==2.0.0
mypy==0.991
pre-commit==2.20.0
pylint==2.15.6
pytest==7.2.0
pytest-cov==4.0.0
pytest-httpx==0.21.2
types-all==1.0.0
