name: CI tests

on:
  pull_request:
  push:
    branches:
    - master
    - 'push-action/**'

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Set up Python 3.8
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        pip install flake8

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --statistics

  pre-commit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        submodules: true

    - name: Set up Python 3.8
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        pip install -e .
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: Run pre-commit
      run: |
        pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )

  openapi:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        submodules: true

    - name: Set up Python 3.8
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.8

    - name: Install tools
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        pip install -e .
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: Pass generated OpenAPI schemas through validator.swagger.io
      run: |
        invoke swagger-validator openapi/openapi.json
        invoke swagger-validator openapi/index_openapi.json

    - name: Check OpenAPI Schemas have not changed
      run: invoke check-openapi-diff

  docker-image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        submodules: true

    - name: Build the Docker images
      run: docker-compose build

    - name: Start Docker image - server
      run: |
        docker-compose up optimade &
        .github/workflows/wait_for_it.sh localhost:3213 -t 120
        sleep 15

    - name: Test server, including OPTIONAL base URLs
      uses: Materials-Consortia/optimade-validator-action@v2.5.0
      with:
        port: 3213
        path: /
        all versioned paths: yes
        validator version: ${{ github.sha }}  # This ensures the head of a PR or latest push commit is tested

    - name: Start Docker image - index server
      run: |
        docker-compose up optimade-index &
        .github/workflows/wait_for_it.sh localhost:3214 -t 120
        sleep 15

    - name: Test index server, including OPTIONAL base URLs
      uses: Materials-Consortia/optimade-validator-action@v2.5.0
      with:
        port: 3214
        path: /
        all versioned paths: yes
        index: yes
        validator version: ${{ github.sha }}  # This ensures the head of a PR or latest push commit is tested

  pytest:
    runs-on: ubuntu-latest

    env:
      OPTIMADE_CONFIG_FILE: ${{ github.workspace }}/optimade_config.json

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    services:
      mongo:
        image: mongo:4
        ports:
        - 27017:27017
      postgres:
        image: postgres:10
        env:
          POSTGRES_DB: test_django
          POSTGRES_PASSWORD: test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
        - 5432:5432
      elasticsearch:
        image: elasticsearch:6.8.13
        ports:
          - 9200:9200
          - 9300:9300
        env:
          discovery.type: single-node


    steps:
    - uses: actions/checkout@v2.3.4
      with:
        submodules: true
        fetch-depth: 2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.2.2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install latest compatible versions of immediate dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        pip install -e .
        pip install -r requirements.txt
        pip install -r requirements-dev.txt

    - name: Run all tests (using `mongomock`)
      run: pytest -rs -vvv --cov=./optimade/ --cov-report=xml tests/
      env:
        OPTIMADE_DATABASE_BACKEND: 'mongomock'


    - name: Run server tests (using a real MongoDB)
      run: pytest -rs -vvv --cov=./optimade/ --cov-report=xml --cov-append tests/server
      env:
        OPTIMADE_DATABASE_BACKEND: 'mongodb'

    - name: Run server tests (using Elasticsearch)
      run: pytest -rs -vvv --cov=./optimade/ --cov-report=xml --cov-append tests/server
      env:
        OPTIMADE_DATABASE_BACKEND: 'elastic'

    - name: Install adapter conversion dependencies
      run: |
        pip install -r requirements-client.txt
        # AiiDA-specific
        # sqlalchemy install is temporary and has not been fixed for Python 3.6 versions
        if [ "${{ matrix.python-version }}" == "3.6" ]; then pip install sqlalchemy==1.3.23; fi
        reentry scan

    - name: Setup up environment for AiiDA
      env:
        AIIDA_TEST_BACKEND: django
      run: .github/aiida/setup_aiida.sh

    - name: Run previously skipped tests for adapter conversion
      run: pytest -rs -vvv --cov=./optimade/ --cov-report=xml --cov-append tests/adapters/

    - name: Run tests for validator only to assess coverage (mongomock)
      if: matrix.python-version == 3.8
      run: pytest -rs --cov=./optimade/ --cov-report=xml:validator_cov.xml --cov-append tests/server/test_server_validation.py
      env:
        OPTIMADE_DATABASE_BACKEND: 'mongomock'

    - name: Run tests for validator only to assess coverage (Elasticsearch)
      if: matrix.python-version == 3.8
      run: pytest -rs --cov=./optimade/ --cov-report=xml:validator_cov.xml --cov-append tests/server/test_server_validation.py
      env:
        OPTIMADE_DATABASE_BACKEND: 'elastic'
        OPTIMADE_INSERT_TEST_DATA: false # Must be specified as previous steps will have already inserted the test data

    - name: Run tests for validator only to assess coverage (MongoDB)
      if: matrix.python-version == 3.8
      run: pytest -rs --cov=./optimade/ --cov-report=xml:validator_cov.xml --cov-append tests/server/test_server_validation.py
      env:
        OPTIMADE_DATABASE_BACKEND: 'mongodb'
        OPTIMADE_INSERT_TEST_DATA: false # Must be specified as previous steps will have already inserted the test data

    - name: Upload coverage to Codecov
      if: matrix.python-version == 3.8 && github.repository == 'Materials-Consortia/optimade-python-tools'
      uses: codecov/codecov-action@v1.5.0
      with:
        name: project
        file: ./coverage.xml
        flags: project

    - name: Upload validator coverage to Codecov
      if: matrix.python-version == 3.8 && github.repository == 'Materials-Consortia/optimade-python-tools'
      uses: codecov/codecov-action@v1.5.0
      with:
        name: validator
        file: ./validator_cov.xml
        flags: validator

  docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
      with:
        submodules: true

    - uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        pip install -e .
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
        pip install -r requirements-docs.txt

    - name: Build
      run: |
        invoke create-api-reference-docs
        mkdocs build --strict --verbose

  test_build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2.3.4

    - name: Set up Python 3.8
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.8

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade setuptools requests

    - name: Install package
      run: pip install -e .

    - name: Build source distribution
      run: python ./setup.py sdist
