name: Testing eager dependencies

on:
  pull_request:
  push:
    branches:
    - master

jobs:

  deps_eager:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install latest versions of immediate dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        # Install package clean with all dependencies followed by eager update install
        pip install -e .[testing,django,elastic]
        pip install -U --upgrade-strategy eager -r .github/workflows/requirements_eager.txt

    - name: Run tests on updated packages
      run: |
        pytest -rs --cov=./optimade/

  # deps_clean-install:
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: false
  #     max-parallel: 2
  #     matrix:
  #       python-version: [3.6, 3.7, 3.8]

  #   steps:
  #   - uses: actions/checkout@v2

  #   - name: Set up Python ${{ matrix.python-version }}
  #     uses: actions/setup-python@v1
  #     with:
  #       python-version: ${{ matrix.python-version }}

  #   - name: Install latest versions of immediate dependencies
  #     run: |
  #       python -m pip install --upgrade pip
  #       pip install -U setuptools
  #       # Install all dependencies "as a user", i.e., a clean install
  #       pip install -e .[all]

  #   - name: Run tests on updated packages
  #     run: |
  #       pytest -rs --cov=./optimade/
