name: Dependency, linting, and OpenAPI validation

on:
  pull_request:
  push:
    branches:
      master

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        pip install flake8

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  pre-commit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        pip install pre-commit

    - name: Run pre-commit
      run: |
        pre-commit run --all-files || ( git status --short ; git diff ; exit 1 )

  openapi:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Install tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install -U setuptools
        python -m pip install -r requirements.txt
        python -m pip install -e .[testing]
        docker pull quen2404/openapi-diff

    - name: Validate OpenAPI specifications
      run: openapi-spec-validator openapi.json

    - name: Update OpenAPI schema
      run: python -c "from optimade.server.main import app, update_schema; update_schema(app)"

    - name: Check if OpenAPI schemes match
      run: .ci/openapi_diff.sh

  deps_static:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.python-version }} 
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install latest versions of immediate dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        # Install static dependencies followed by "normal" install
        pip install -r requirements.txt
        pip install -e .[all]

    - name: Run tests on updated packages
      run: |
        pytest -rs --cov=./optimade/ --cov-report=xml

    - name: Upload coverage to Codecov
      if: matrix.python-version == 3.7
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        yml: ./codecov.yml

  deps_eager:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.python-version }} 
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install latest versions of immediate dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U setuptools
        # Install static dependencies followed by eager update install
        pip install -r requirements.txt
        pip install -U --upgrade-strategy eager -e .[all]

    - name: Run tests on updated packages
      run: |
        pytest -rs --cov=./optimade/

  # deps_clean-install:
  #   runs-on: ubuntu-latest
  #   strategy:
  #     fail-fast: false
  #     max-parallel: 2
  #     matrix:
  #       python-version: [3.7, 3.8]

  #   steps:
  #   - uses: actions/checkout@v1

  #   - name: Set up Python ${{ matrix.python-version }} 
  #     uses: actions/setup-python@v1
  #     with:
  #       python-version: ${{ matrix.python-version }}

  #   - name: Install latest versions of immediate dependencies
  #     run: |
  #       python -m pip install --upgrade pip
  #       pip install -U setuptools
  #       # Install all dependencies "as a user", i.e., a clean install
  #       pip install -e .[all]

  #   - name: Run tests on updated packages
  #     run: |
  #       pytest -rs --cov=./optimade/
