name: Publish on PyPI

on:
  release:
    types:
    - published

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'Materials-Consortia/optimade-python-tools' && startsWith(github.ref, 'refs/tags/v')

    steps:
    - name: Checkout repository
      uses: actions/checkout@master

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade setuptools requests

    - name: Check released tag
      env:
        GITHUB_SHA: ${{ github.sha }}
        GITHUB_REF: ${{ github.ref }}
      run: python .github/workflows/check_released_tag.py

    - name: Install package
      run: python -m pip install -e .

    - name: Assert package version
      env:
        TAG_VERSION: ${{ github.ref }}
      run: python ./.ci/assert_version.py

    - name: Build source distribution
      run: python ./setup.py sdist

    # This tests that publication to PyPI is possible, before properly publishing
    - name: Publish package to TestPyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.test_pypi_password }}
        repository_url: https://test.pypi.org/legacy/

    - name: Publish package to PyPI
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
